@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

* {
  font-family: "Nunito", sans serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.mockup-phone-display {
  background-image: url('./assets/background.jpg');
  background-size:cover;
  background-position: center;
}

.phone-scaler {
  transform-origin: top center;
  width: fit-content;
}

@media (max-height: 900px) {
  .phone-scaler {
    transform: scale(0.9);
  }
}

@media (max-height: 800px) {
  .phone-scaler {
    transform: scale(0.9)
  }
}

@media (max-height: 700px) {
  .phone-scaler {
    transform: scale(0.8);
  }
}

@media (max-height: 600px) {
  .phone-scaler {
    transform: scale(0.7);
  }
}